ADF/pipeline/rti_poc.json
{
	"name": "rti_poc",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "folder_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('folder_name').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyNewFiles",
							"description": "Copy new and changed files only by using LastModifiedDate",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@adddays(utcnow(), -7)",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"wildcardFolderPath": {
											"value": "@name",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "a",
												"type": "String"
											},
											"sink": {
												"name": "a",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "b",
												"type": "String"
											},
											"sink": {
												"name": "b",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "c",
												"type": "String"
											},
											"sink": {
												"name": "c",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "adlsgen2csv",
									"type": "DatasetReference",
									"parameters": {
										"name": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adlsgen2parquet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "folder_name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select name from folder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}