SYNAPSE_INCREMENTAL_COPY/pipeline/Iterate-and-EXEC-sp.json
{
	"name": "Iterate-and-EXEC-sp",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetChangeCount",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"sqlReaderQuery": {
										"value": "select count(*) as changecount from [@{item().TargetTableSchema}].[@{item().TargetTableName}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "AdventureWorks",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "HasChangedRows",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetChangeCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(activity('GetChangeCount').output.firstRow.changecount),0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "EXEC spInsertUpdateDelete",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[SalesLT].[spInsertUpdateDelete]",
											"storedProcedureParameters": {
												"TableSchema": {
													"value": {
														"value": "@{item().SourceTableSchema}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@{item().SourceTableName}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "synapseincremental-WorkspaceDefaultSqlServer",
											"type": "LinkedServiceReference",
											"parameters": {
												"DBName": "defaultsqlpool"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-30T22:09:49Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}